.grid-container {
    display: grid;
    grid-template-areas: 'header header header'
    'graph table table'
    'form table table'
    'empty table table'
    'empty table table'
    'empty footer footer';
    padding: 10px;
}
#body {

}
#tablee {
    grid-area: table;
    text-align: center;
}
#form {
    grid-area: form;
    display: grid;
    grid-template-areas: 'x y r' 'send send reset';
}
#header {
    grid-area: header;
    alignment: right;
}
#x {
    grid-area: x;
}
#y {
    grid-area: y;
}
#r {
    grid-area: r;
}


#graph {
    grid-area: graph;
    width: 300px;
    height: 300px;
    alignment: left;
}

